/* @import '/node_modules/augmented-ui/augmented-ui.min.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-muted-foreground-darker {
  color: hsl(var(--muted-foreground-darker));
}

.text-muted-foreground-lighter {
  color: hsl(var(--muted-foreground-lighter));
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-darker: 210 20% 50%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --muted-foreground-darker: 215 12% 35%;
    --muted-foreground-lighter: 215 20.2% 65.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-darker: 215 32.6% 10%;
    --muted-foreground: 215 20.2% 65.1%;
    --muted-foreground-darker: 215 17% 55%;
    --muted-foreground-lighter: 215 23% 75%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: var(--font-space-mono);
    @apply bg-background text-foreground;
    width: fit-content;
  }
  h1 {
    @apply scroll-m-20 font-sans text-4xl font-thin tracking-wide lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 border-b pb-2 font-sans text-3xl font-thin tracking-wide transition-colors first:mt-0;
  }
  h3 {
    @apply scroll-m-20 font-sans text-2xl font-extralight tracking-wide;
  }
  h4 {
    @apply scroll-m-20 font-sans text-xl font-extralight tracking-wide;
  }
  p {
    word-spacing: -0.2rem;
    @apply font-light tracking-tight;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  table {
    @apply w-full;
  }
  th {
    @apply border px-4 py-2 text-left font-bold;
  }
  th[align='center'] {
    @apply text-center;
  }
  th[align='right'] {
    @apply text-right;
  }
  tr {
    @apply m-0 border-t p-0 even:bg-muted-darker;
  }
  td {
    @apply px-4 py-2 text-left;
  }
  td[align='center'] {
    @apply text-center;
  }
  td[align='right'] {
    @apply text-right;
  }
  .text-card-foreground .delimiter {
    color: rgb(71 85 105);
  }
}

.flicker1 {
  animation: text-flicker1 10s linear infinite;
}

.flicker2 {
  animation: text-flicker2 10s linear infinite;
}

.flicker3 {
  animation: text-flicker3 10s linear infinite;
}

.flicker4 {
  animation: text-flicker4 10s linear infinite;
}

.flicker5 {
  animation: text-flicker5 10s linear infinite;
}

.flicker6 {
  animation: text-flicker1 9s linear infinite;
}

.flicker7 {
  animation: text-flicker2 9s linear infinite;
}

.flicker8 {
  animation: text-flicker3 9s linear infinite;
}

.flicker9 {
  animation: text-flicker4 9s linear infinite;
}

.flicker10 {
  animation: text-flicker5 9s linear infinite;
}

/* prettier-ignore */
@keyframes text-flicker1 {
  0% { opacity: 1; }
  7% { opacity: 1; }
  8% { opacity: 0.7; }
  9% { opacity: 1;  }
  11% { opacity: 1;  }
  12% { opacity: 0.7; }
  13% { opacity: 1; }
  100% { opacity: 0.9; }
}

/* prettier-ignore */
@keyframes text-flicker2 {
  0% { opacity: 1; }
  1% { opacity: 0.6; }
  2% { opacity: 1; }
  100% { opacity: 1; }
}

/* prettier-ignore */
@keyframes text-flicker3 {
  25% { opacity: 1; }
  26% { opacity: 0.6; }
  27% { opacity: 1; }
  100% { opacity: 1; }
}

/* prettier-ignore */
@keyframes text-flicker4 {
  50% { opacity: 1; }
  51% { opacity: 0.6; }
  52% { opacity: 1; }
  100% { opacity: 1; }
}

/* prettier-ignore */
@keyframes text-flicker5 {
  0% { opacity: 1; }
  74% { opacity: 1; }
  75% { opacity: 0.6; }
  76% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes letter-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  2% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  4% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  19% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  21% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  23% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  80% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  83% {
    opacity: 0.4;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  87% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}

.background1 {
  height: 170px;
  width: 450px;
  --aug-inlay-all: 4px;
}

.background2 {
  height: 170px;
  position: relative;
  width: 368px;
  isolation: isolate;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  clip-path: polygon(
    -1px 15px,
    0px 15px,
    15px 0px,
    15px 0px,
    15px 0px,
    15px 0px,
    15px -1px,
    calc(100% - 25px) -1px,
    calc(100% - 25px) 0px,
    calc(100% - 24.7538px) 8.12869px,
    calc(100% - 24.0211px) 11.1803px,
    calc(100% - 22.8201px) 14.0798px,
    calc(100% - 21.1803px) 16.7557px,
    calc(100% - 19.1421px) 19.1421px,
    calc(100% - 16.7557px) 21.1803px,
    calc(100% - 14.0798px) 22.8201px,
    calc(100% - 11.1803px) 24.0211px,
    calc(100% - 8.12869px) 24.7538px,
    100% 25px,
    100% 25px,
    100% 25px,
    100% 25px,
    calc(100% + 1px) 25px,
    calc(100% + 1px) calc(100% + 1px),
    calc(75% + 15px) calc(100% + 1px),
    calc(75% + 15px) 100%,
    75% calc(100% - 15px),
    25% calc(100% - 15px),
    calc(25% - 15px) 100%,
    calc(25% - 15px) calc(100% + 1px),
    -1px calc(100% + 1px)
  );
}

.background2::before {
  content: '';
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  clip-path: polygon(
    5px 20px,
    5px 17.5px,
    17.5px 5px,
    20px 5px,
    20px 5px,
    20px 5px,
    20px 5px,
    calc(100% - 30px) 5px,
    calc(100% - 30px) 5px,
    calc(100% - 29.6922px) 8.91086px,
    calc(100% - 28.7764px) 12.7254px,
    calc(100% - 27.2752px) 16.3498px,
    calc(100% - 25.2254px) 19.6946px,
    calc(100% - 22.6777px) 22.6777px,
    calc(100% - 19.6946px) 25.2254px,
    calc(100% - 16.3498px) 27.2752px,
    calc(100% - 12.7254px) 28.7764px,
    calc(100% - 8.91086px) 29.6922px,
    calc(100% - 5px) 30px,
    calc(100% - 5px) 30px,
    calc(100% - 5px) 30px,
    calc(100% - 5px) 30px,
    calc(100% - 5px) 30px,
    calc(100% - 5px) calc(100% - 5px),
    calc(75% + 20px) calc(100% - 5px),
    calc(75% + 17.5px) calc(100% - 5px),
    calc(75% + 2.5px) calc(100% - 20px),
    calc(25% - 2.5px) calc(100% - 20px),
    calc(25% - 17.5px) calc(100% - 5px),
    calc(25% - 20px) calc(100% - 5px),
    5px calc(100% - 5px)
  );
}

.background2::after {
  content: '';
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  clip-path: polygon(
    1px 16px,
    1px 15.5px,
    15.5px 1px,
    16px 1px,
    16px 1px,
    16px 1px,
    16px 1px,
    calc(100% - 26px) 1px,
    calc(100% - 26px) 1px,
    calc(100% - 25.7415px) 8.28512px,
    calc(100% - 24.9722px) 11.4894px,
    calc(100% - 23.7111px) 14.5338px,
    calc(100% - 21.9894px) 17.3435px,
    calc(100% - 19.8492px) 19.8492px,
    calc(100% - 17.3435px) 21.9894px,
    calc(100% - 14.5338px) 23.7111px,
    calc(100% - 11.4894px) 24.9722px,
    calc(100% - 8.28512px) 25.7415px,
    calc(100% - 1px) 26px,
    calc(100% - 1px) 26px,
    calc(100% - 1px) 26px,
    calc(100% - 1px) 26px,
    calc(100% - 1px) 26px,
    calc(100% - 1px) calc(100% - 1px),
    calc(75% + 16px) calc(100% - 1px),
    calc(75% + 15.5px) calc(100% - 1px),
    calc(75% + 0.5px) calc(100% - 16px),
    calc(25% - 0.5px) calc(100% - 16px),
    calc(25% - 15.5px) calc(100% - 1px),
    calc(25% - 16px) calc(100% - 1px),
    1px calc(100% - 1px),
    1px 16px,
    -1px 16px,
    -1px calc(100% + 1px),
    calc(100% + 1px) calc(100% + 1px),
    calc(100% + 1px) -1px,
    -1px -1px,
    -1px 16px,
    1px 16px
  );
}
